# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE
.idea/

# Testing
.pytest_cache/

# Output files
output/

# Old files
data_preparation/outdated

# OS specific
.DS_Store
Thumbs.db
# Comparison studies
local_plots/
